<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="console.css">
</head>
<body>

<div class="sidenav">
  <a href="#SSHinfo">SSH Session Info</a>
  <a href="#CopyOutput">Copy Console Output</a>
  <a href="#NewSession">New Session</a>
</div>

<div id="console">
  <h2>Console Output(PlaceHolder)</h2>
  <p>Sample Text, this is where the console output will go.</p>
</div>  

</body>
</html> 
